.drag {
  display: block;
  position: absolute;
  padding: 5px 10px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 #242424, 1px 0px 0 #242424, 1px 2px 0 #242424,
    2px 1px 0 #242424, 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 0;
}
textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 12px;
}
button {
  background-color: #008cba;
  font-size: 12px;
  padding: 12px 28px;
  border-radius: 12px;
}

button:hover {
  background-color: #008cba0;
  color: white;
}

/* img {
  position: relative;
  top: 3px;
  right: 100px;
  background-color: rgba(170, 240, 209);
  visibility: visible;
  max-width: 10vh;
  max-height: 10vh;
  min-width: 5vh;
  min-height: 5vh;
} */

.fridge {
  max-width: 55vw;
  max-height: 75vh;
  min-width: 50vw;
  min-height: 50vh;
  background-color: rgba(170, 240, 209);
  /* padding: 10vh 100vh; */
  border: solid black;
  border-radius: 10%;
}

.handle {
  position: absolute;
  top: 100px;
  left: 30px;
  height: 130px;
}
