.drag {
  display: block;
  position: absolute;
  padding: 5px 10px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0 #242424, 1px 0px 0 #242424, 1px 2px 0 #242424,
    2px 1px 0 #242424, 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 0;
  white-space: nowrap;
  max-width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-image: url("Kitchen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
textarea {
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: block;
  overflow: scroll;
}
.createMagnetButton {
  background-color: #008cba;
  font-size: 12px;
  padding: 12px 28px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reset {
  background-color: red;
  font-size: 10px;
  padding: 12px 24px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #008cba0;
  color: white;
  cursor: pointer;
}

.fridge {
  max-width: 65vw;
  max-height: 85vh;
  min-width: 60vw;
  min-height: 60vh;
  margin: auto;
  background-color: rgba(170, 240, 209);
  border: solid black;
  border-radius: 10%;
  align-content: center;
  position: relative;
}

.handle {
  position: relative;
  top: 100px;
  left: 30px;
  height: 230px;
}
